.Button {
  border: 1px solid transparent;
  text-decoration: none;
  padding: 12px 24px;
  display: block;
  margin-bottom: 12px;
}

@media (min-width: 400px) {
  .Button {
    display: inline-block;
    margin-bottom: auto;
    margin: 0 20px;
  }
}

.Button--primary {
  background: #195657;
  color: #fffee9;
  animation: shake 1s ease-in-out 1.5s infinite alternate;
}

@keyframes shake {
  from {
    transform: translateX(-10px);
  }

  to {
    transform: translateX(10px);
  }
}

.Button--ghost {
  border-color: #195657;
  color: #195657;
  background: transparent;
}

a:not(.Button) {
  border: 1px solid transparent;
  text-decoration: none;
  padding: 12px 8px;
  background: #195657;
  color: #fffee9;
}
