.Chapter-footer {
  padding-top: 2.5rem;
  opacity: 0;
  transform: translateY(40%);

  animation: enter 0.5s ease-in-out 0.5s forwards;

  display: flex;
  flex-direction: column;
}

@media (min-width: 400px) {
  .Chapter-footer {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

@keyframes enter {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
