@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

body {
  margin: 0;
  padding: 5vh;

  font-family: 'Major Mono Display', monospace;
  font-size: 1.4rem;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fffee9;
  color: #382b05;
}

@media (min-width: 320px) {
  body {
    font-size: 2rem;
    line-height: 1.7;
    padding: 12vw;
  }
}
